<article class="dashboard_content">
  <span class="box_card"><%= "#{t('dashboard.banks')}: #{@totals[:banks]}" %></span>
  <span class="box_card"><%= "#{t('dashboard.providers')}: #{@totals[:providers]}" %></span>
</article>