<article class="dashboard_content">
  <div class="dashboard_content_card"><span><%= "Bancos: #{@totals[:banks]}" %></span></div>
  <div class="dashboard_content_card"><span><%= "Proveedores: #{@totals[:providers]}" %></span></div>
</article>