<div id="banks" class="container">
  <h1>Banks</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
      <% @banks.each do |bank| %>
        <%= render bank %>
      <% end %>
    </tbody>
  </table>
  <%= paginate @providers %>
  <%= link_to "New bank", new_bank_path, class:"btn btn-dark btn-sm" %>
</div>