.dashboard {
  width: 100%;
  min-height: 100vh;
  display: flex;
  box-sizing: border-box;

  .dashboard_sidenav {
    width: 25%;
    background-color: #303030;
    color: #ffffff;
  }

  .dashboard_content {
    width: 75%;
    padding: 3%;
    display: flex;
    justify-content: space-around;

    .dashboard_content_card {
      width: 30%;
      height: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    }
  }

}