.dashboard {
  width: 100%;
  min-height: 100vh;
  display: flex;
  box-sizing: border-box;

  .dashboard_sidenav {
    width: 25%;
    background-color: #303030;
    color: #ffffff;
  }

  .dashboard_content {
    width: 75%;
    padding: 3%;
    display: flex;
    justify-content: space-around;
  }

}