<% if notice %>
  <p class="notice alert-primary alert-dismissible fade show"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger alert-dismissible fade show"><%= alert %></p>
<% end %>

